apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-dev
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-dev
  template:
    metadata:
      labels:
        app: backend-dev
    spec:
      containers:
        - name: backend
          image: us-central1-docker.pkg.dev/YOUR_GCP_PROJECT_ID/gke-apps/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DB_NAME
            - name: DB_HOST
              value: "127.0.0.1"
            - name: DB_PORT
              value: "5432"

        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.14.1
          args:
            - "--private-ip"
            - "--structured-logs"
            - "--port=5432"
            - "myproject-non-prod:us-central1:postgresql-dev"
