name: Deploy to GKE

on:
  workflow_dispatch:

# Global environment variables
env:
  PROJECT_ID: myproject-non-prod                
  GAR_LOCATION: us-central1                     
  GKE_CLUSTER: gke-cluster-dev
  GKE_LOCATION: us-central1-a
  REPOSITORY: gke-apps
  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    
    env:
      FRONTEND_IMAGE: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/frontend
      BACKEND_IMAGE:  ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/backend

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker $GAR_LOCATION-docker.pkg.dev --quiet

      - name: Build & Push Backend Image
        working-directory: backend
        run: |
          docker build -t $BACKEND_IMAGE:latest .
          docker push $BACKEND_IMAGE:latest

      - name: Build & Push Frontend Image
        working-directory: frontend
        env:
          REACT_APP_API_BASE_URL: ${{ secrets.REACT_APP_API_BASE_URL }}
        run: |
          docker build -t $FRONTEND_IMAGE:latest .
          docker push $FRONTEND_IMAGE:latest

      - name: Get GKE Credentials
        run: |
          gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_LOCATION --project $PROJECT_ID

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f k8s/namespace-dev.yaml
          kubectl apply -f k8s/postgres-secret.yaml
          kubectl apply -f k8s/backend-deployment.yaml
          kubectl apply -f k8s/backend-service.yaml
          kubectl apply -f k8s/frontend-deployment.yaml
          kubectl apply -f k8s/frontend-service.yaml
