name: Deploy to GKE

on:
  workflow_dispatch:

permissions:
  id-token: write     # Required for Workload Identity Federation
  contents: read      # Required to checkout repository

env:
  PROJECT_ID: myproject-non-prod
  GAR_LOCATION: us-central1
  GKE_CLUSTER: gke-cluster-dev
  GKE_LOCATION: us-central1
  REPOSITORY: gke-apps

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/166457981312/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions"
          service_account: "github-actions-deploy@myproject-non-prod.iam.gserviceaccount.com"

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      
      - name: Enable GKE Application Default Credentials
        run: |
          gcloud config set container/use_application_default_credentials true

      # Generate dynamic image paths
      - name: Set image variables
        run: |
          echo "FRONTEND_IMAGE=${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/frontend" >> $GITHUB_ENV
          echo "BACKEND_IMAGE=${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/backend" >> $GITHUB_ENV

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker ${GAR_LOCATION}-docker.pkg.dev --quiet

      - name: Build & Push Backend Image
        working-directory: backend
        run: |
          docker build -t $BACKEND_IMAGE:latest .
          docker push $BACKEND_IMAGE:latest

      - name: Build & Push Frontend Image
        working-directory: frontend
        env:
          REACT_APP_API_BASE_URL: ${{ secrets.REACT_APP_API_BASE_URL }}
        run: |
          docker build -t $FRONTEND_IMAGE:latest .
          docker push $FRONTEND_IMAGE:latest

      - name: Get GKE Credentials
        run: |
          gcloud container clusters get-credentials $GKE_CLUSTER --region $GKE_LOCATION --project $PROJECT_ID

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f k8s/namespace-dev.yaml
          kubectl apply -f k8s/postgres-secret.yaml
          kubectl apply -f k8s/backend-deployment.yaml
          kubectl apply -f k8s/backend-service.yaml
          kubectl apply -f k8s/frontend-deployment.yaml
          kubectl apply -f k8s/frontend-service.yaml
